@page
@model EbookArchiver.Web.Pages.Ebooks.EditModel
@using EbookSource = EbookArchiver.Models.EbookSource

@{
    ViewData["Title"] = "Edit";
}

@section HeaderScripts
{
    <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>
}

<partial name="_OneDrivePickerScript" />

<h1>Edit</h1>

<h4>Ebook</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ebook!.EbookId" />
            <div class="mb-3">
                <label asp-for="Ebook!.BookId" class="form-label"></label>
                <kendo-combobox name="@Html.NameFor(m => m.Ebook!.BookId)"
                    filter="FilterType.Contains"
                    min-length="2"
                    enforce-min-length="true"
                    datatextfield="displayName"
                    datavaluefield="bookId"
                    style="width: 100%"
                >
                    <datasource type="DataSourceTagHelperType.Custom" server-filtering="true">
                        <transport>
                            <read url="@Url.Action("Books", "Filter")" />
                        </transport>
                    </datasource>
                </kendo-combobox>
                <span asp-validation-for="Ebook!.BookId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.PublisherISBN13" class="form-label"></label>
                <input asp-for="Ebook!.PublisherISBN13" class="form-control" />
                <span asp-validation-for="Ebook!.PublisherISBN13" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.PublisherVersion" class="form-label"></label>
                <input asp-for="Ebook!.PublisherVersion" class="form-control" />
                <span asp-validation-for="Ebook!.PublisherVersion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.VendorVersion" class="form-label"></label>
                <input asp-for="Ebook!.VendorVersion" class="form-control" />
                <span asp-validation-for="Ebook!.VendorVersion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.VendorBookIdentifier" class="form-label"></label>
                <input asp-for="Ebook!.VendorBookIdentifier" class="form-control" />
                <span asp-validation-for="Ebook!.VendorBookIdentifier" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.AccountId" class="form-label"></label>
                <select asp-for="Ebook!.AccountId" class="form-control" asp-items="Model.AccountId"></select>
                <span asp-validation-for="Ebook!.AccountId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.EbookSource" class="form-label"></label>
                <select asp-for="Ebook!.EbookSource" class="form-select" asp-items="Html.GetEnumSelectList<EbookArchiver.Models.EbookSource>()"></select>
                <span asp-validation-for="Ebook!.EbookSource" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.EbookFormat" class="form-label"></label>
                <select asp-for="Ebook!.EbookFormat" class="form-select" asp-items="Html.GetEnumSelectList<EbookArchiver.Models.EbookFormat>()"></select>
                <span asp-validation-for="Ebook!.EbookFormat" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DrmStrippedFile" class="form-label"></label>
                <input asp-for="DrmStrippedFile" class="form-control" type="file" />
                <span asp-validation-for="DrmStrippedFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DrmStrippedFileId" class="form-label"></label>
                <input asp-for="DrmStrippedFileId" type="hidden" />
                @* This is not bound because we don't want to rely on it. Use the ID and read data back. *@
                <input id="DrmStrippedFileIdName" class="form-control-plaintext" />
                <button type="button" onclick="launchOneDrivePicker('@Html.IdFor(m => m.DrmStrippedFileId)', 'DrmStrippedFileIdName')" class="btn btn-secondary">Select file...</button>
                <span asp-validation-for="DrmStrippedFileId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OriginalFile" class="form-label"></label>
                <input asp-for="OriginalFile" class="form-control" type="file" />
                <span asp-validation-for="OriginalFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OriginalFileId" class="form-label"></label>
                <input asp-for="OriginalFileId" type="hidden" />
                @* This is not bound because we don't want to rely on it. Use the ID and read data back. *@
                <input id="OriginalFileIdName" class="form-control-plaintext" />
                <button type="button" onclick="launchOneDrivePicker('@Html.IdFor(m => m.OriginalFileId)', 'OriginalFileIdName')" class="btn btn-secondary">Select file...</button>
                <span asp-validation-for="OriginalFileId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
