@page
@model EbookArchiver.Web.Pages.Ebooks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ebook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ebook!.EbookId" />
            <div class="mb-3">
                <label asp-for="Ebook!.BookId" class="form-label"></label>
                <select asp-for="Ebook!.BookId" class="form-control" asp-items="Model.BookId"></select>
                <span asp-validation-for="Ebook!.BookId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.PublisherISBN13" class="form-label"></label>
                <input asp-for="Ebook!.PublisherISBN13" class="form-control" />
                <span asp-validation-for="Ebook!.PublisherISBN13" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.PublisherVersion" class="form-label"></label>
                <input asp-for="Ebook!.PublisherVersion" class="form-control" />
                <span asp-validation-for="Ebook!.PublisherVersion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.VendorVersion" class="form-label"></label>
                <input asp-for="Ebook!.VendorVersion" class="form-control" />
                <span asp-validation-for="Ebook!.VendorVersion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.VendorBookIdentifier" class="form-label"></label>
                <input asp-for="Ebook!.VendorBookIdentifier" class="form-control" />
                <span asp-validation-for="Ebook!.VendorBookIdentifier" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.AccountId" class="form-label"></label>
                <select asp-for="Ebook!.AccountId" class="form-control" asp-items="Model.AccountId"></select>
                <span asp-validation-for="Ebook!.AccountId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.EbookSource" class="form-label"></label>
                <input asp-for="Ebook!.EbookSource" class="form-control" />
                <span asp-validation-for="Ebook!.EbookSource" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook!.EbookFormat" class="form-label"></label>
                <input asp-for="Ebook!.EbookFormat" class="form-control" />
                <span asp-validation-for="Ebook!.EbookFormat" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DrmStrippedFile" class="form-label"></label>
                <input asp-for="DrmStrippedFile" class="form-control" type="file" />
                <span asp-validation-for="DrmStrippedFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OriginalFile" class="form-label"></label>
                <input asp-for="OriginalFile" class="form-control" type="file" />
                <span asp-validation-for="OriginalFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
