<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <ul class="navbar-nav float-end">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </li>
        </ul>
        <span class="navbar-text text-dark float-end">Hello @User.Identity.Name!</span>
    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
            </li>
        </ul>
    }
</div>